{% extends 'reviews/base.html' %}

{% block content %}
  {% for object in object_list %}
    <div class="col-4">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-1 font-weight-normal">{{ object.name }}</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">{{ object.title }}</h1>
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    {{ object.review }}
                </ul>
                    {% if perms.reviews.detail_review %}
                        <a class="p-2 btn btn-outline-primary" href="{% url 'reviews:review_detail' object.pk %}">Посмотреть</a>
                    {% endif %}
        </div>
    </div>
  {% endfor %}
{% endblock %}