{% extends 'main/base.html' %}
{% load my_tags %}
{% block content %}
  {% for object in object_list %}
    <div class="col-4">
        <div class="card mb-4 box-shadow">
            <img class="cardimg-top"
                 src="{{ object.image|mediapath }}"
                 alt="Card image cap">
            <div class="card-header">
                <h4 class="my-1 font-weight-normal">Специальность врача</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">{{ object.name|title }}</h1>
                <ul class="list-unstyled mt-3 mb-4 text-start m-5">
                    Врачи выбранной вами категории
                </ul>
                <nav>
                    <a class="p-2 btn btn-outline-primary" href="{% url 'main:spec_doctors_list' object.pk %}">Посмотреть</a>
                </nav>
            </div>
        </div>
    </div>
  {% endfor %}
{% endblock %}