{% extends 'main/base.html' %}
{% load my_tags %}
{% block content %}
  {% for object in object_list %}
    <div class="col-4">
        <div class="card mb-4 box-shadow">
            <img class="cardimg-top"
                 src="{{ object.image|mediapath }}"
                 alt="Card image cap">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">
                    {{ object.category }}</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">{{ object.name|title }}</h1>
                <ul class="list-unstyled mt-4 mb-4 text-start m-3">
                    {{ object.description | truncatechars:100 }}
                    Стоимость сеанса: {{ object.price|title }} руб.
                </ul>
                    {% if perms.main.detail_doctor %}
                        <a class="p-2 btn btn-outline-primary" href="{% url 'main:doctors_detail' object.pk %}">Посмотреть</a>
                    {% endif %}
                    {% if perms.main.change_update %}
                        <a class="p-2 btn btn-outline-primary" href="{% url 'main:doctors_update_form' object.pk %}">Редактировать</a>
                    {% endif %}
                    {% if perms.main.delete_doctor %}
                        <a class="p-2 btn btn-outline-primary" href="{% url 'main:doctors_confirm_delete' object.pk %}">Удалить</a>
                    {% endif %}
            </div>
        </div>
    </div>
  {% endfor %}
{% endblock %}